.admin-panel {
  padding: 20px;
}
.App {
  background-color: aqua;
  display: flex;
}
.profile-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

.profile-list {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 10px;
}

form input,
form textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
