.profile-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.profile-card {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
}

.profile-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.admin-panel {
  margin: 20px 0;
}
.admin-panel {
  padding: 20px;
}

.profile-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

.profile-list {
  display: flex;
  flex-direction: column;
}

button {
  transform: translateX(26vw);
  margin-top: 10px;
}

form input,
form textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
body {
  background-image: url("../src/1.jpeg");
  background-size: cover;
}
